<div class="detail-title">
    <div class="detail-name">
        <h1><%= birthname %></h1>
        <h4><%= surname %></h4>
    </div>
    <figure class="detail-image">
        <img src="images/<%= pathname %>.png" alt="<%= pathname %>">
    </figure>
</div>
<div class="skill skill-left">
    <figure class="skill-image">
        <img src="images/<%= pathname %>-skill1.png" alt="">
    </figure>
    <div class="skill-description">
        <h4><%= skills[0].name %></h4>
        <p><%= skills[0].description %></p>
    </div>
</div>
<div class="skill skill-right">
    <div class="skill-description">
        <h4><%= skills[1].name %></h4>
        <p><%= skills[1].description %></p>
    </div>
    <figure class="skill-image">
        <img src="images/<%= pathname %>-skill2.png" alt="">
    </figure>
</div>
<div class="skill skill-left">
    <figure class="skill-image">
        <img src="images/<%= pathname %>-skill3.png" alt="">
    </figure>
    <div class="skill-description">
        <h4><%= skills[2].name %></h4>
        <p><%= skills[2].description %></p>
    </div>
</div>
<div class="skill skill-right">
    <div class="skill-description">
        <h4><%= skills[3].name %></h4>
        <p><%= skills[3].description %></p>
    </div>
    <figure class="skill-image">
        <img src="images/<%= pathname %>-skill4.png" alt="">
    </figure>
</div>